<nav  class="navbar navbar-dark bg-dark  fixed-top" style="background-color: #e3f2fd;">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#intro">Angular social assignment</a>
    </div>
  </div>
</nav>
